@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	box-sizing: border-box;
}

body {
	max-width: 1140px;
	margin: 0 auto;
	min-height: 100vh;
	/* padding-inline: 16px; */
	background-color: #F9F2E0;
}

@layer base {
  a {
		@apply font-medium text-link hover:underline
	}
}